footer(class="site-footer")
    div(class="container")
        div(class="row")
            div(class="col-md-6 fbox")
                h4 ABOUT
                p(class="text") We issued our very first credit card way back in 2006. From day one, our business has been about helping people succeed with credit. From innovative tools like our QuickCheck eligibility checker, to the way we're driving positive change across the finance industry.
                ul(class="list-inline")
                    li
                        a(href="#")
                            i(class="fa fa-facebook")
                    li
                        a(href="#")
                            i(class="fa fa-twitter")
                    li
                        a(href="#")
                            i(class="fa fa-linkedin")
            div(class="col-md-3 col-sm-6 col-xs-12 fbox")
                h4 SERVICES
                ul(class="big")
                    li
                        a(href="/request" title="") Verify Account
    div#copyright
        div(class="container")
            div(class="row")
                div(class="col-md-4")
                    p(class="pull-left") &copy uPort
                div(class="col-md-8")
                    ul(class="list-inline navbar-right")
                        li
                            a(href="#") HOME