extends layout

block content


    section(class="services")
        h2#uportApp(class="section-title") #{title}
        p(class="desc")
            strong uPortID:
            span#serviceUportId #{serviceUportId}
        div(class="container")
            div(class="row")
                section(class="page col-sm-9")
                    h2(class="page-title ") More great features with uPort Application
                    div(class="entry")
                        h4 Got the uPort application? Your new online experience is just getting started.
                        p
                            ul(class='list-unstyled1')
                                li(class="") Keep control of your identity details wherever you are with uPort app.
                                li Open an account in other banks with one click using uportId. We don't share your identity data
                                li(class="") Buy products with Credit Card in any shops. We don't share your credit score but we only confirm that you can pay
                                li We can confirm that you have 18+ age but don't say how old you are.


            div(class="row")
                div(class="col-md-12 text-center")

            div(class="row")
                div(class="col-md-12 text-center")
                    h3 What do I need to  do?
            div(class="row")
                div(class="col-md-4 col-sm-6 col-xs-12")
                    div(class="media")
                        div(class="media-left media-top")
                            i(class="fa fa-download")
                        div(class="media-body")
                            h4(class="media-heading") Step 1.DOWNLOAD UPORT APP
                            p As soon as you accept the connection in the uPort app, you will automatically be taken to the next step of the registration.
                            a(href="https://developer.uport.me/" class="bold" target="_blank") Download uPort
                div(class="col-md-4 col-sm-6 col-xs-12")
                    div(class="media")
                        div(class="media-left media-top")
                            i(class="fa fa-user")
                        div(class="media-body")
                            h4(class="media-heading") Step 2. VERIFY ACCOUNT
                            p Visit any branch to verify your personal data or/and bank accoun.
                            a(href="/request") Verify my account
                div(class="col-md-4 col-sm-6 col-xs-12")
                    div(class="media")
                        div(class="media-left media-top")
                            i(class="fa fa-credit-card")
                        div(class="media-body")
                            h4(class="media-heading") Step 3. ENJOY NEW ONLINE EXPERIENCE
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.
