extends layout

block content
    section(class="services")
        div(class="container")
            div(class="row")
                div(class="col-md-12")
                    section
                        div
                            h2(class="section-title") Thank you!
                                p Please confirm your identity within 14 days.
                                | To ensure the security of your new digital identity, it is necessary that you personally contact us with your ID / passport.
